.tabs {
    margin: 50px 10px;
}

.tab {
    margin: 20px auto;
    padding: 17px 0;
}

.container {
    width: 414px;
    margin: 0 auto;
    text-align: center;
    pointer-events: none;
}

@media (max-width: 414px) {
    .container {
        max-width: 375px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 355px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 295px;
    }
}
